.env
.DS_Store

!cg-rails/tmp/.keep
cg-rails/tmp/*

!cg-rails/vendor/.keep
cg-rails/vendor/*

!cg-rails/storage/.keep
cg-rails/storage/*

!pg/data/.keep
pg/data/*

!pg/data/.keep
pg/data/*

!redis/data/.keep
redis/data/*

!elastic/data/.keep
elastic/data/*
yarn-debug.log*
.yarn-integrity
**/.DS_Store