.env
.DS_Store
**/.DS_Store

!pg/data/.keep
pg/data/*

!pg/data/.keep
pg/data/*

!redis/data/.keep
redis/data/*

!elastic/data/.keep
elastic/data/*

yarn-debug.log*
.yarn-integrity
yarn-error.log*
yarn.lock


# RAILS APP RULES
!cg-rails/storage/.keep
cg-rails/storage/*

!cg-rails/tmp/.keep
cg-rails/tmp/*

!cg-rails/vendor/.keep
cg-rails/vendor/*

!cg-rails/log/.keep
cg-rails/log/*

cg-rail/public/assets

# Ignore master key for decrypting credentials and more.
cg-rail/config/master.key