.env
.DS_Store
**/.DS_Store

!pg/data/.keep
pg/data/*

!pg/data/.keep
pg/data/*

!redis/data/.keep
redis/data/*

!elastic/data/.keep
elastic/data/*

yarn-debug.log*
.yarn-integrity
yarn-error.log*
yarn.lock

app/config/master.key

# RAILS APP RULES
!app/storage/.keep
app/storage/*

!app/tmp/.keep
app/tmp/*

!app/vendor/.keep
app/vendor/*

!app/log/.keep
app/log/*

app/public/assets
**/.obsidian/*

# Ignore master key for decrypting credentials and more.
app/config/master.key

.obsidian/*