@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik');
body {
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  color: #333;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik',Arial, Helvetica, sans-serif;
  }
}